<div class="ai-wrapper">
  <!-- TEXTO -->
  <div class="text-block">
    <h1>
      Atención <br />
      clínica en el <br />
      <span>bolsillo.</span>
    </h1>

    <ul class="features">
      <li>
        <div class="check">✓</div>
        <span>Modelos entrenados por +500 veterinarios certificados.</span>
      </li>

      <li>
        <div class="check">✓</div>
        <span>Detección temprana de patologías crónicas.</span>
      </li>

      <li>
        <div class="check">✓</div>
        <span>Análisis visual mediante cámara en tiempo real.</span>
      </li>
    </ul>

    <button class="cta-btn" (click)="goToCheck()">Comienza Ahora</button>
  </div>

  <!-- VISUAL -->
  <div class="container">
    <div class="col left">
      <div class="card image-card">
        <img src="assets/img/FirstAbout_upscale.jpg" />
      </div>
      <div class="card image-card">
        <img src="assets/img/SecondAbout_upscale.jpg" />
      </div>
    </div>

    <div class="col right">
      <div class="card image-card">
        <img src="assets/img/ThirdAbout_upscale.jpg" />
      </div>
      <div class="card image-card">
        <img src="assets/img/FourthAbout_upscale.jpg" />
      </div>
    </div>
  </div>
</div>
